#main_divisor {
    display: flex;
    flex-direction: row;
}

#side_divisor {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#game {
    width: 820px;
    height: 820px;
}

#board, #move_indicator {
    position: absolute;
    border: 2px solid black;
}

#side_divisor {
    text-align: center;
}

#game_status {
    font-family: Roboto;
}

#p1, #p2 {
    width: 100%;
    margin-left: 4px;
}

.player_status {
    display: flex;
    padding: 4px;
    font-family: consolas;
}

.player_status > img {
    height: 20px;
    width: 20px;
}

.active_move {
    color: red;
    font-weight: bold;
}

#game_select {
    height: 100px;
}

#connect {
    margin-top: 6px;
}

#create_group, #join, #create {
    visibility: hidden;
    margin: 5px 0;
}

#create_group {
    display: none;
}

#player_list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: left;
}

#own_name {
    font-weight: bold;
}

.myButton {
    background-color: #36c75d;
    -moz-border-radius: 36px;
    -webkit-border-radius: 36px;
    border-radius: 36px;
    border: 3px solid #427847;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    padding: 8px 14px;
    text-decoration: none;
}

.myButton:hover {
    background-color: #9fd941;
}

.myButton:active {
    position: relative;
    top: 1px;
}

html {
    font-family: roboto;
}

fieldset {
    border: none;
}