#main_divisor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

#side_divisor {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#game {
    width: 820px;
    height: 820px;
}

#board, #move_indicator {
    position: absolute;
    border: 2px solid black;
}

#side_divisor {
    text-align: center;
    max-width: 200px;
}


#p1, #p2 {
    width: 100%;
    margin-left: 4px;
}

.player_status {
    display: flex;
    padding: 4px;
}

.player_status > img {
    height: 20px;
    width: 20px;
}

.active_move {
    color: red;
    font-weight: bold;
}

#game_select {
    height: 100px;
    margin: 5px;
}

#game_status {
    padding: 10px 0;
    margin-bottom: 5px;
    border: 2px brown solid;
}

#create_group, #join, #create {
    visibility: hidden;
    margin: 5px 0;
}

#create_group {
    display: none;
}

#player_list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: left;
    padding:0;
    margin:0;
}

#player_list > li {
    background: #bbbbbb;
    padding: 5px;
}
#player_list > li:nth-child(odd) {
    background: #ffffff;
}


#own_name {
    font-weight: bold;
}

.myButton {
    background-color: #36c75d;
    -moz-border-radius: 36px;
    -webkit-border-radius: 36px;
    border-radius: 36px;
    border: 3px solid #427847;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    padding: 8px 14px;
    text-decoration: none;
}

.myButton:hover {
    background-color: #9fd941;
}

.myButton:active {
    position: relative;
    top: 1px;
}

body {
    margin: 0;
}

html {
    font-family: monospace;
}

fieldset {
    border: none;
}

#connection_modal {
    width:100%;
    height:100%;
    background: hsla(0,0%,10%,0.5);
    position: absolute;
    z-index:100;
}

#connect_group {
    position: fixed; /* or absolute */
    top: 30%;
    left: 40%;
    width: 400px;
    height: 200px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#connect {
    margin: 10px;
}
